{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "prefer-object-spread": 0
  },
  "env": {
    "jest/globals": true,
    "cypress/globals": true
  },
  "ignorePatterns": [
    "src/*.d.ts"
  ],
  "plugins": [
    "jest",
    "cypress"
  ]
}